<header>
    <nav class="navbar">
        <div class="container-fluid ">
          <a class="navbar-brand text-light" href="/">
            <i class="fa fa-home d-inline-block align-text-top ms-3" style="font-size:36px" class=""></i>
          </a>
        </div>
      </nav>
</header>