body {
  width: 100%;
  height: 100vh;
  background-image: url("../images/mikolaj-DCzpr09cTXY-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
